@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 242, 242, 242;
  --section-height: calc(100vw * 3 / 4 / (21 / 9))
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 242, 242, 242;*/
/*    --background-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/*@layer utilities {*/
/*  .trim-both {*/

/*  }*/
/*}*/

@layer components {
  .title-l {
    @apply font-Nimbus-Sans font-light text-8xl tracking-tighter;
  }
  .caption-l {
    @apply font-OCR text-base tracking-tight uppercase;
  }
  .symbol-l {
    @apply font-Inter text-8xl font-light;
  }

  .section-h-base {
    height: var(--section-height);
  }
  .section-h-xl {
    height: calc(var(--section-height) * 2);
  }
}
